@model simple_mvc.Domain.Entities.Villa

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="py-2">Delete Villa</div>
        </div>
    </div>

    <div class="card-body border p-4">
        <div class="row">
            <form asp-action="Create" asp-controller="VillaNumber" asp-area="VillaManage" method="post" id="createVillaNumberForm" name="createVillaNumberForm" class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-10">
                    <div class="form-floating py-1 col-12">
                        @Html.TextBoxFor(model => model.Name, new {  @class = "form-control border shadow" })
                        @Html.LabelFor(m => m.Name, new { @class = "control-label ms-2 text-black"})
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class="text-danger" })
                    </div>
                    <div class="form-floating py-1 col-12">
                        @Html.TextBoxFor(model => model.Description, new {  @class = "form-control border shadow" })
                        @Html.LabelFor(m => m.Description, new { @class = "control-label ms-2 text-black"})
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class="text-danger" })
                    </div>
                    <div class="form-floating py-1 col-12">
                        @Html.TextBoxFor(model => model.Price, new {  @class = "form-control border shadow" })
                        @Html.LabelFor(m => m.Price, new { @class = "control-label ms-2 text-black"})
                        @Html.ValidationMessageFor(m => m.Price, "", new { @class="text-danger" })
                    </div>
                    <div class="form-floating py-1 col-12">
                        @Html.TextBoxFor(model => model.Sqft, new {  @class = "form-control border shadow" })
                        @Html.LabelFor(m => m.Sqft, new { @class = "control-label ms-2 text-black"})
                        @Html.ValidationMessageFor(m => m.Sqft, "", new { @class="text-danger" })
                    </div>
                    <div class="form-floating py-1 col-12">
                        @Html.TextBoxFor(model => model.Occupancy, new {  @class = "form-control border shadow" })
                        @Html.LabelFor(m => m.Occupancy, new { @class = "control-label ms-2 text-black"})
                        @Html.ValidationMessageFor(m => m.Occupancy, "", new { @class="text-danger" })
                    </div>

                    @Html.LabelFor(m => m.ImageUrl, new { @class = "control-label ms-2 text-black"})
                    <div class="form-floating py-1 col-12">
                        @Html.HiddenFor(model => model.ImageUrl, new {  @class = "form-control border shadow" })
                        @Html.TextBoxFor(model => model.Image, new {  @class = "border shadow ms-2", type="file" })
                        @Html.ValidationMessageFor(m => m.ImageUrl, "", new { @class="text-danger" })
                    </div>

                    <div class="row pt-2">
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </div>

                            <div class="col-6 col-md-3">
                                <a href="@Url.Action("Index", "Villa",new {Area="VillaManage"})" class="btn btn-secondary w-100">
                                    <i class="bi bi-x-circle"></i>
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <img src="@Model.ImageUrl" width="100%"
                         style="border-radius: 5px; border: 1px solid #bbb9b9" />
                </div>
            </form>
        </div>
    </div>
</div>
