@model simple_mvc.Domain.Entities.Villa

@{
    ViewData["Title"] = "Detail";
    Layout = "_Layout";
}

<h1>Detail</h1>

<div>
    <h4>Villa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sqft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sqft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Occupancy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Occupancy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedUser)
        </dd>
    </dl>
</div>
<div>
    <div class="row pt-2">
        <div class="col-6 col-md-3">
            <a href="@Url.Action("Edit", "Villa",new {@ID=Model.ID, Area="VillaManage"})" class="btn btn-secondary w-100">
                <i class="bi bi-check-circle"></i>
                Go Edit
            </a>
        </div>
        <div class="col-6 col-md-3">
            <a href="@Url.Action("Index", "Villa",new {Area="VillaManage"})" class="btn btn-secondary w-100">
                <i class="bi bi-x-circle"></i>
                Back
            </a>
        </div>
    </div>

</div>
